name: auth-service-ci

on:
  push:
    branches: ["main"]
    paths:
      - "auth-service/**"
      - ".github/workflows/auth-ci.yml"

permissions:
  contents: read

jobs:
  build_push_and_pr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set image tag (short sha)
        run: echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push auth image
        uses: docker/build-push-action@v6
        with:
          context: ./auth-service
          push: true
          tags: |
            shayca6/auth-service:${{ env.IMAGE_TAG }}
            shayca6/auth-service:latest

      - name: Create PR to update GitOps (auth image tag)
        env:
          GH_TOKEN: ${{ secrets.GITOPS_PAT }}
          GITOPS_REPO: ${{ secrets.GITOPS_REPO }}
          IMAGE_TAG: ${{ env.IMAGE_TAG }}
        run: |
          set -euo pipefail

          git clone "https://x-access-token:${GH_TOKEN}@github.com/${GITOPS_REPO}.git" gitops
          cd gitops

          git config user.name "auth-ci-bot"
          git config user.email "auth-ci-bot@users.noreply.github.com"

          # update auth values tag
          sed -i "s/^  tag: .*/  tag: ${IMAGE_TAG}/" envs/dev/auth-values.yaml

          BRANCH="update-auth-${IMAGE_TAG}"
          git checkout -b "${BRANCH}"
          git add envs/dev/auth-values.yaml

          # if no change, exit gracefully
          if git diff --cached --quiet; then
            echo "No changes to commit (auth tag already ${IMAGE_TAG})."
            exit 0
          fi

          git commit -m "Update auth-service image tag to ${IMAGE_TAG}"
          git push -u origin "${BRANCH}"

          gh pr create \
            --repo "${GITOPS_REPO}" \
            --head "${BRANCH}" \
            --base main \
            --title "Deploy auth-service ${IMAGE_TAG}" \
            --body "Automated PR: update auth-service image tag to ${IMAGE_TAG}"
