name: crypto-service-ci

on:
  push:
    branches: ["main"]
    paths:
      - "crypto-service/**"
      - ".github/workflows/crypto-ci.yml"

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set image tag
        run: echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./crypto-service
          push: true
          tags: |
            shayca6/crypto-service:${{ env.IMAGE_TAG }}
            shayca6/crypto-service:latest

